.video-input {
  background-color: #2c2c54;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0.25em;
  font-size: 0.75em;
  color: white;
}

.text-small {
  font-size: 0.75em;
}

.thumb-preview {
  width: 200px;
  height: 120px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0.5em;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em;
}