body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #1B1464;
  color: #12CBC4;
  margin: 2rem;
}

input {
  font-family: 'Roboto Mono', sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
}

.thin {
  font-weight: 100;
}

.btn-outline-primary {
  color: #12CBC4;
  border-color: #12CBC4;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:hover {
  background-color: #12CBC4;
  border-color: #12CBC4;
  color: #1B1464;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.card {
  background-color: #12CBC4;
  color: #1B1464;
}

.social-info-header {
  font-weight: 100;
  font-size: 0.75em;
}

video {
  background-color: black;
  border-radius: 0.5em;
}