body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #f7f1e3;
  color: #2c2c54;
  margin: 2rem;
}

input {
  font-family: 'Roboto Mono', sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
}

.thin {
  font-weight: 100;
}

.btn-outline-primary {
  color: #2c2c54;
  border-color: #2c2c54;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:hover {
  background-color: #2c2c54;
  border-color: #2c2c54;
  color: #f7f1e3;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}